<!DOCTYPE html>
<html>
<head>
	<title>Thor: Ragnarok</title>
<link rel="icon" type="image/png" href="img/icon.png"/>
<link rel ="stylesheet" type ="text/css" href="css/app2.css">
</head>

		<body background="img/Thor1.jpg">
		<font size="20" face="marvel">

<a class="button-link" href="/" style="color:black">Home</a>
<div id ="app"></div>
<style>
	body{
		background:url(img/Thor1.jpg) 
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;
</style>

</font>
		<script type = "text/javascript" src ="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src = "	https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.js"></script>
		<script type = "text/javascript" src="js/app2.js"></script>
</div>
</body>
</html>