<!DOCTYPE html>
<html>
<head>
	<title>Ramos Final</title>

<link rel="icon" type="img/png" href="img/icon.png"/>

</head>
<body background="img/Thor.jpg" >
<font face="marvel" size="30" color="yellow">
<center>

		<style>
		body{
		background:url(img/Thor.jpg) 
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;
		</style>


<h1>THOR MOVIE SERIES</h1>

		<p align="center">
		<a href="/app" style="color:black">Thor</a></div>
		<p align="center">
		<a href="/app1" style="color:black">Thor: The Dark World</a>
		<p align="center">
		<a href="/app2" style="color:black">Thor: Ragnarok</a>

</center>
</font>
</body>
</html>